{% extends "base.html" %}
{% load static %}

{% block title %}
{{object.name}}
{% endblock %}

<!--{% block base-content %}{% endblock %}-->
{% block content %}
  <!-- Page Content -->

      <!-- /.col-lg-3 -->
<div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 mb-4">
        <!--<div class="card mt-4">-->
          <!-- {% for image_item in product.productimage_set.all %}
                    <div class="product-image-item">
                        <img src="{{ image_item.image.url }}" class="img-responsive">
                    </div>
                {% endfor %} вывести все картинки-->
          {% for image in object.product_images.all %}
          <!-- <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt=""> -->
          <img src="{{image.image.url}}" width="500px" class="img-responsive">

          {% if object.sale %}
            <div class="sale-container">
                <span>{{ object.sale }}</span>
            </div>
          {% endif %}
          {% endfor %}
      </div>

      <div class="col-xs-6 col-md-6 mb-4">
          <p>
          </p>
            <h3 class="text-center">{{object.name}}</h3>
            <div class="">
                <p>
                    <h4 class="text-center">{{object.price}} руб./шт.</h4>
                </p>
            </div>
           <!-- <p class="card-text">{{object.description}}</p>-->
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars

      <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                  <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Описание</a>
                <!--<a href="#description" aria-controls="home" role="tab" data-toggle="tab">
                  Описание
                </a>-->
              </li>
              <li role="presentation">
                  <a class="nav-link active" data-toggle="tab" href="#komplekt" role="tab">Комплектация</a>
                <!--<a href="#delivery" aria-controls="profile" role="tab" data-toggle="tab">
                  Доставка
                </a>-->
              </li>
              <li role="presentation"> <!--<a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a>-->
              <a class="nav-link active" data-toggle="tab" href="#charact" role="tab">Характеристики</a>
              </li>
              <!--<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a>
                  <a class="nav-link active" data-toggle="tab" href="#settings" role="tab">Требования</a>
              </li>-->
            </ul>

            <!-- Tab panes -->
            <div class="tab-content product-description-tabs">
                <div class="tab-pane active" id="home" role="tabpanel">{{ object.description }}</div>
              <!--<div role="tabpanel" class="tab-pane active" id="description">
                {{ object.description }}
              </div>-->
                <div class="tab-pane" id="komplekt" role="tabpanel">Как мы делаем доставку</div>
              <!--<div role="tabpanel" class="tab-pane" id="delivery">
                <h3>Как мы делаем доставку</h3>
              </div>-->
              <div role="tabpanel" class="tab-pane" id="messages">...</div>
              <div role="tabpanel" class="tab-pane" id="settings">...</div>
            </div>
        <!-- /.card -->
            <div>
                   <!-- <form id="form_buying_product" class="form-inline">-->
                    <form id="form_buying_product" class="form-inline" action="{% url 'boxapp:basket_adding' %}">{% csrf_token %}
                        <div class="form-group">
                             <input type="number" class="form-control" name="number" id="number">
                        </div>
                            <div class="form-group">
                                <button type="submit" id="submit_btn" class="btn btn-success btn-buy"
                                    data-product_id ="{{ object.id }}"
                                    data-name ="{{ object.name }}"
                                    data-price ="{{ object.price }}"
                                >
                                    Добавить в корзину
                                </button>
                            </div>
                    </form>
                </div>
        </div>
        <!-- /.card -->
    </div>
      <!-- /.col-lg-9 -->

  <!-- /.container -->
{% endblock %}
</div>