{% extends "base.html" %}

{% block title %}
  Магазин - Главная страница
{% endblock %}

{% block content %}

  <!-- Page Content блок по категориям и карусель удалила в базовый шаблон-->



        <div class="row">
          {% for item in helmets %}

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">

              <a href="{% url 'prodapp:card' id=item.id %}"><img src="{{ item.image.url }}" width="250px"></a>   <!-- img class="card-img-top" "http://placehold.it/700x400" alt=""-->
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{% url 'prodapp:card' id=item.id %}">{{ card.name }}</a>   <!-- id=item.id -->
                </h4>
                <h5>{{ card.price }}</h5>
                <p class="card-text">{{ card.text }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          {% endfor %}




        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

{% endblock %}
